.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*.rds
*.RDS
*.qs
*.RData
*.RDATA
*.sav
*.dta
*.xlsx
*.xls
*.csv
*.tsv
*.ngd
*.txt
*.pdf
*.png
*.html
*.docx
*.knit.md

output/
design_final/
sim_results/
